## Covid- County Level EDA

In [24]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [25]:
df_county_pop = pd.read_csv('covid_county_population_usafacts.csv')
df_county_pop.drop(columns = ['State'], inplace = True)

In [26]:
df_county_pop = df_county_pop.rename(columns ={"countyFIPS" : "County #"})
df_county_pop

      County #            County Name  population
0            0  Statewide Unallocated           0
1         1001         Autauga County       55869
2         1003         Baldwin County      223234
3         1005         Barbour County       24686
4         1007            Bibb County       22394
...        ...                    ...         ...
3190     56037      Sweetwater County       42343
3191     56039           Teton County       23464
3192     56041           Uinta County       20226
3193     56043        Washakie County        7805
3194     56045          Weston County        6927

[3195 rows x 3 columns]

In [27]:
df_county_deaths = pd.read_csv('covid_deaths_usafacts.csv')
df_county_deaths

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2022-11-10,2022-11-11,2022-11-12,2022-11-13,2022-11-16,2022-11-17,2022-11-18,2022-11-19,2022-11-20,2022-11-21
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,229,229,229,229,229,229,229,229,229,229
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,716,716,716,716,716,716,716,716,716,716
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,103,103,103,103,103,103,103,103,103,103
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,108,108,108,108,108,108,108,108,108,108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,131,131,131,131,131,131,131,131,131,131
3189,56039,Teton County,WY,56,0,0,0,0,0,0,...,16,16,16,16,16,16,16,16,16,16
3190,56041,Uinta County,WY,56,0,0,0,0,0,0,...,43,43,43,43,43,43,43,43,43,43
3191,56043,Washakie County,WY,56,0,0,0,0,0,0,...,47,47,47,47,47,47,47,47,47,47
3192,56045,Weston County,WY,56,0,0,0,0,0,0,...,21,21,21,21,22,22,22,22,22,22

In [28]:
df_county_deaths = df_county_deaths[['countyFIPS','County Name','2020-09-28','2020-10-30','2021-01-29','2021-07-28','2022-01-29','2022-07-29','2022-10-30']]
df_county_deaths

,countyFIPS,County Name,2020-09-28,2020-10-30,2021-01-29,2021-07-28,2022-01-29,2022-07-29,2022-10-30
0,0,Statewide Unallocated,0,0,0,0,0,0,0
1,1001,Autauga County,25,30,69,114,163,220,228
2,1003,Baldwin County,50,71,224,328,608,687,716
3,1005,Barbour County,7,9,40,61,83,100,103
4,1007,Bibb County,10,15,51,65,95,105,108
...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,2,2,32,44,115,128,131
3189,56039,Teton County,1,1,6,11,15,16,16
3190,56041,Uinta County,2,3,12,14,34,39,43
3191,56043,Washakie County,6,7,25,26,41,46,47
3192,56045,Weston County,0,0,4,6,16,20,21

In [29]:
df_county_deaths = df_county_deaths.rename(columns ={"2020-09-28": "Confirmed Deaths 09/28/20",
                                                     "2020-10-30" : "Confirmed Deaths 10/30/20",
                                                     "2021-01-29" : "Confirmed Deaths 01/29/21",
                                                     '2021-07-28':'Confirmed Deaths 07/28/2021',
                                                     '2022-01-29':'Confirmed Deaths 01/29/2022',
                                                     '2022-07-29':'Confirmed Deaths 07/29/2022',
                                                     '2022-10-30':'Confirmed Deaths 10/30/2022',
                                                    "countyFIPS" : "County #"})

In [30]:
df_county_deaths.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3193 entries, 0 to 3192
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   County #                     3193 non-null   int64
 1   County Name                  3193 non-null   object
 2   Confirmed Deaths 09/28/20    3193 non-null   int64
 3   Confirmed Deaths 10/30/20    3193 non-null   int64
 4   Confirmed Deaths 01/29/21    3193 non-null   int64
 5   Confirmed Deaths 07/28/2021  3193 non-null   int64
 6   Confirmed Deaths 01/29/2022  3193 non-null   int64
 7   Confirmed Deaths 07/29/2022  3193 non-null   int64
 8   Confirmed Deaths 10/30/2022  3193 non-null   int64
dtypes: int64(8), object(1)
memory usage: 224.6+ KB

In [31]:
df_county_con = pd.read_csv('covid_confirmed_usafacts.csv')
df_county_con

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2022-11-10,2022-11-11,2022-11-12,2022-11-13,2022-11-16,2022-11-17,2022-11-18,2022-11-19,2022-11-20,2022-11-21
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,18571,18571,18571,18571,18592,18592,18592,18592,18592,18592
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,66213,66213,66213,66213,66268,66268,66268,66268,66268,66268
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,6950,6950,6950,6950,6959,6959,6959,6959,6959,6959
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,7604,7604,7604,7604,7612,7612,7612,7612,7612,7612
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,12211,12211,12211,12211,12225,12225,12225,12225,12225,12225
3189,56039,Teton County,WY,56,0,0,0,0,0,0,...,11851,11851,11851,11851,11867,11867,11867,11867,11867,11867
3190,56041,Uinta County,WY,56,0,0,0,0,0,0,...,6210,6210,6210,6210,6221,6221,6221,6221,6221,6221
3191,56043,Washakie County,WY,56,0,0,0,0,0,0,...,2681,2681,2681,2681,2664,2664,2664,2664,2664,2664
3192,56045,Weston County,WY,56,0,0,0,0,0,0,...,1840,1840,1840,1840,1844,1844,1844,1844,1844,1844

In [32]:
df_county_con = df_county_con[['countyFIPS', 'County Name','2020-09-28','2020-10-30','2021-01-29','2021-07-28','2022-01-29','2022-07-29','2022-10-30']]
df_county_con

,countyFIPS,County Name,2020-09-28,2020-10-30,2021-01-29,2021-07-28,2022-01-29,2022-07-29,2022-10-30
0,0,Statewide Unallocated,0,0,0,0,0,0,0
1,1001,Autauga County,1785,2141,5596,7479,13251,17468,18511
2,1003,Baldwin County,5588,6888,17922,24499,50313,61967,65973
3,1005,Barbour County,886,1056,1931,2462,5054,6308,6930
4,1007,Bibb County,657,866,2284,2845,5795,6947,7575
...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,334,553,3464,4968,10133,11802,12182
3189,56039,Teton County,560,796,3078,3883,9272,11229,11814
3190,56041,Uinta County,354,479,1959,2384,5273,5968,6186
3191,56043,Washakie County,115,158,864,945,2151,2565,2672
3192,56045,Weston County,36,159,610,679,1438,1739,1828

In [33]:
df_county_con = df_county_con.rename(columns ={"2020-09-28": "Confirmed Cases 09/28/20",
                                               "2020-10-30" : "Confirmed Cases 10/30/20",
                                               "2021-01-29" : "Confirmed Cases 01/29/21",
                                               '2021-07-28':'Confirmed Cases 07/28/2021',
                                               '2022-01-29':'Confirmed Cases 01/29/2022',
                                               '2022-07-29':'Confirmed Cases 07/29/2022',
                                               '2022-10-30':'Confirmed Cases 10/30/2022',
                                              "countyFIPS" : "County #"})

In [34]:
df_county_con

,County #,County Name,Confirmed Cases 09/28/20,Confirmed Cases 10/30/20,Confirmed Cases 01/29/21,Confirmed Cases 07/28/2021,Confirmed Cases 01/29/2022,Confirmed Cases 07/29/2022,Confirmed Cases 10/30/2022
0,0,Statewide Unallocated,0,0,0,0,0,0,0
1,1001,Autauga County,1785,2141,5596,7479,13251,17468,18511
2,1003,Baldwin County,5588,6888,17922,24499,50313,61967,65973
3,1005,Barbour County,886,1056,1931,2462,5054,6308,6930
4,1007,Bibb County,657,866,2284,2845,5795,6947,7575
...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,334,553,3464,4968,10133,11802,12182
3189,56039,Teton County,560,796,3078,3883,9272,11229,11814
3190,56041,Uinta County,354,479,1959,2384,5273,5968,6186
3191,56043,Washakie County,115,158,864,945,2151,2565,2672
3192,56045,Weston County,36,159,610,679,1438,1739,1828

In [45]:
df_merge = pd.merge(df_county_deaths, df_county_con, how = "right", on= "County #")
df_merge = pd.merge(df_merge, df_county_pop, how = "left", on = "County #")

In [46]:
df_merge.drop(columns = ['County Name_x', 'County Name_y', 'County Name'], inplace = True)
df_merge.rename(columns = {"population": "County Population"}, inplace = True)
df_merge.drop(index=0)

,County #,Confirmed Deaths 09/28/20,Confirmed Deaths 10/30/20,Confirmed Deaths 01/29/21,Confirmed Deaths 07/28/2021,Confirmed Deaths 01/29/2022,Confirmed Deaths 07/29/2022,Confirmed Deaths 10/30/2022,Confirmed Cases 09/28/20,Confirmed Cases 10/30/20,Confirmed Cases 01/29/21,Confirmed Cases 07/28/2021,Confirmed Cases 01/29/2022,Confirmed Cases 07/29/2022,Confirmed Cases 10/30/2022,County Population
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135788,56037,2,2,32,44,115,128,131,334,553,3464,4968,10133,11802,12182,42343
135789,56039,1,1,6,11,15,16,16,560,796,3078,3883,9272,11229,11814,23464
135790,56041,2,3,12,14,34,39,43,354,479,1959,2384,5273,5968,6186,20226
135791,56043,6,7,25,26,41,46,47,115,158,864,945,2151,2565,2672,7805
135792,56045,0,0,4,6,16,20,21,36,159,610,679,1438,1739,1828,6927

In [47]:
#df_merge['County #'] = df_merge['County #'].astype(float)
df_merge['Confirmed Deaths 09/28/20'] = df_merge['Confirmed Deaths 09/28/20'].astype(float)
df_merge['Confirmed Deaths 10/30/20'] = df_merge['Confirmed Deaths 10/30/20'].astype(float)
df_merge['Confirmed Deaths 01/29/21'] = df_merge['Confirmed Deaths 01/29/21'].astype(float)
df_merge['Confirmed Cases 09/28/20'] = df_merge['Confirmed Cases 09/28/20'].astype(float)
df_merge['Confirmed Cases 10/30/20'] = df_merge['Confirmed Cases 10/30/20'].astype(float)
df_merge['Confirmed Cases 01/29/21'] = df_merge['Confirmed Cases 01/29/21'].astype(float)
df_merge['County Population'] = df_merge['County Population'].astype(float)

In [50]:
columns = ['County', 'County Name', 'County #', 'Public Health Region', 'Health Service Region']

cc = pd.read_csv('county_conversion.csv', names = columns, header = 0)

cc.drop(columns = ['Public Health Region', 'Health Service Region', 'County Name','County'], inplace = True)

cc

     County #
0       48001
1       48003
2       48005
3       48007
4       48009
..        ...
249     48499
250     48501
251     48503
252     48505
253     48507

[254 rows x 1 columns]

In [51]:
df_merge = pd.merge(df_merge, cc, how = "right", on = "County #")

In [52]:
df_merge

,County #,Confirmed Deaths 09/28/20,Confirmed Deaths 10/30/20,Confirmed Deaths 01/29/21,Confirmed Deaths 07/28/2021,Confirmed Deaths 01/29/2022,Confirmed Deaths 07/29/2022,Confirmed Deaths 10/30/2022,Confirmed Cases 09/28/20,Confirmed Cases 10/30/20,Confirmed Cases 01/29/21,Confirmed Cases 07/28/2021,Confirmed Cases 01/29/2022,Confirmed Cases 07/29/2022,Confirmed Cases 10/30/2022,County Population
0,48001,37.0,44.0,99.0,134,220,240,251,2840.0,2970.0,5804.0,6222,9208,10086,10613,57735.0
1,48003,10.0,11.0,45.0,47,69,72,73,425.0,667.0,1649.0,1887,3686,4183,4721,18705.0
2,48005,86.0,94.0,236.0,289,444,487,496,2144.0,2317.0,7121.0,8990,14702,16066,16628,86715.0
3,48007,18.0,18.0,33.0,43,71,89,94,323.0,351.0,979.0,1427,3565,4805,5252,23510.0
4,48009,1.0,1.0,11.0,12,24,28,29,87.0,161.0,745.0,821,1976,2382,2523,8553.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,48499,29.0,42.0,111.0,133,257,289,300,525.0,655.0,2889.0,3673,7513,8540,9214,45539.0
250,48501,5.0,8.0,24.0,27,37,42,42,224.0,319.0,847.0,880,1013,1355,1633,8713.0
251,48503,6.0,12.0,39.0,45,80,95,97,314.0,605.0,1888.0,2213,3630,4228,4326,18010.0
252,48505,9.0,9.0,28.0,37,47,55,56,333.0,357.0,1499.0,1830,2914,3973,4283,14179.0
253,48507,18.0,21.0,35.0,43,59,69,70,357.0,470.0,1468.0,1931,3739,4267,4410,11840.0

In [53]:
df_merge.to_csv('DATA_COVID_COUNTY.csv', index = 'None')